@font-face {
    font-family: pokemon;
    src: url(../Font/Pokemon\ Solid.ttf);
}

*{
    font-family: pokemon;
    font-size: 25px;
    letter-spacing: 4px;
    color: #ffcc00;
    -webkit-text-stroke: 1px #000;
}

::selection{
    background-color: #000;
    color: #ffcc00;
}

a{
    color: #ffcc00;
    font-size: 0.9em;
}

a:visited{
    color: #ffcc00;
}

a:hover{
    color: #ffcc00;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    padding: 0;
    margin: 10px 0;
}

body{
    background-color: #000;
    background-attachment: fixed;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
    background-color: #000;
    cursor: pointer;
}

header #seta{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    padding-left: 15px;
    order: 1;
}

header #logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 0.9em;
    order: 2;
}

header #hamburguer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    padding-right: 15px;
    order: 3;
}

#collapseDiv{
    position: absolute;
    top: 100%;
    width: 100%;
    background: linear-gradient(#000,#262626,#565353);
    padding: 5px;
    font-size: 0.7em;
}

#collapseDiv #pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#collapseDiv i{
    width: 40px;
    background-color: transparent;
    order: 2;
}

#collapseDiv input{
    color: #ffcc00;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    padding-left: 3px;
    border: 0;
    border-radius: 5px;
    background: transparent;
    outline: none;
    order: 1;
}

#collapseDiv input::placeholder{
    color: #ffcc00;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 0.72em;
}

#collapseDiv #filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#collapseDiv #filtro #nomeFiltro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    order: 1;
}

#collapseDiv #filtro #nomeFiltro span{
    font-size: 0.65em;
    order: 2;
}

#collapseDiv #filtro #opcoesFiltro{
    width: 50%;
    font-size: 0.65em;
    order: 2;
    overflow: hidden;
}

#collapseDiv #filtro #opcoesFiltro select{
    width: 85%;
    height: 50px;
    border: 1px solid wheat;
    padding-right: 10px;
    background: url(../imagens/seta.svg) no-repeat right; /* novo ícone para o <select> */
    outline: none;
    border: 0;
    line-height: 220%;
    -webkit-appearance: none;
}

#collapseDiv #filtro #opcoesFiltro option{
    font-size: 0.7em;
    text-align: center;
    background-color: #000;
} 

#collapseDiv #filtro #opcoesFiltro option:hover{
    background-color: transparent;
}    

#pokedex{
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
    scrollbar-width: thin; /* para navegadores Firefox */
    scrollbar-color: transparent transparent; /* para navegadores Chrome, Safari, Edge */
}

/* Personaliza a aparência da barra de rolagem */
#pokedex::-webkit-scrollbar{
    width: 8px; /* largura da barra de rolagem */
}

#pokedex::-webkit-scrollbar-track{
    background-color: transparent; /* cor de fundo da barra de rolagem */
}

#pokedex::-webkit-scrollbar-thumb{
    background-color: transparent; /* cor da alça da barra de rolagem */
}

#nenhumPokemon{
    display: none;
    width: 100%;
    font-size: 1em;
    text-align: center;
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    box-shadow: 5px 5px 10px #000;
    background-color: #A8A878;
}

.item:hover{
    filter: contrast(130%);
}

.item img{
    order: 2;
    width: 100%;
    height: 67%;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px #000);
}

.item span{
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

#ordem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 1;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-right: 5px;
}

#ordem .elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
}

#visualizarPokemon{
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 20px;
    border-radius: 10px;
    scrollbar-width: thin; /* para navegadores Firefox */
    scrollbar-color: transparent transparent; /* para navegadores Chrome, Safari, Edge */
}
#visualizarPokemon #order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    order: 1;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
}

#visualizarPokemon #pokemon{
    order: 2;
    width: 100%;
    height: 40vh;
    padding: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 5px #565353);
}

#visualizarPokemon #nome{
    text-align: center;
    order: 3;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#visualizarPokemon #natureza{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    order: 4;
    width: 100%;
    margin-bottom: 20px;
}

#visualizarPokemon #natureza .tipo{
    display: flex;
    flex-direction: column;
    order: 4;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
}

#visualizarPokemon #natureza .tipo div{
    width: 100%;
}

#visualizarPokemon #natureza div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 40px;
    border-radius: 10px;
    word-break: break-all;
    font-size: 0.8em;
    padding: 0px 5px;
}

#visualizarPokemon #caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 5;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
}

#visualizarPokemon #caracteristicas #peso, #visualizarPokemon #caracteristicas #altura{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 0;
}

#visualizarPokemon #caracteristicas span{
    font-size: 0.8em;
    margin-top: 1px;
}

#visualizarPokemon #status{
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 6;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#visualizarPokemon #status .titulo{
    order: 1;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
}

#visualizarPokemon #status #container{
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#visualizarPokemon #status #container #nomeStatus{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
}

#visualizarPokemon #status #container #valorStatus{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hp,#ataque,#defesa,#velocidade,#exp{
    text-align: center;
    font-size: 0.7em;
    padding-left: 10px;
}

#visualizarPokemon #status #container #valorStatus .progress{
    background-color: #262626;
}

#visualizarPokemon #descricao{
    order: 7;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    font-size: 1em;
}

#visualizarPokemon #descricao ul{
    list-style: none;
    padding-top: 20px;
}

#visualizarPokemon #descricao li{
    margin-bottom: 25px;
    font-size: 0.8em;
}

