@font-face {
    font-family: pokemon;
    src: url(../Font/Pokemon\ Solid.ttf);
}

*{
    font-family: pokemon;
    font-size: 25px;
    letter-spacing: 4px;
    color: #ffcc00;
    -webkit-text-stroke: 1px #000;
}

body{
    /*background: linear-gradient(to right, #a1042e,#790b29,#91062b);*/
    background-color: #000;
    background-attachment: fixed;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
    /*background: linear-gradient(to right, #a1042e,#790b29,#91062b);*/
    background-color: #000;
}

#pokedex{
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
    scrollbar-width: thin; /* para navegadores Firefox */
    scrollbar-color: transparent transparent; /* para navegadores Chrome, Safari, Edge */
}

/* Personaliza a aparência da barra de rolagem */
#pokedex::-webkit-scrollbar{
    width: 8px; /* largura da barra de rolagem */
}

#pokedex::-webkit-scrollbar-track{
    background-color: transparent; /* cor de fundo da barra de rolagem */
}

#pokedex::-webkit-scrollbar-thumb{
    background-color: transparent; /* cor da alça da barra de rolagem */
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    box-shadow: 5px 5px 10px #000;
    background-color: #A8A878;
}

.item:hover{
    filter: contrast(130%);
}

.item img{
    order: 2;
    width: 100%;
    height: 67%;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px #000);
}

.item span{
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

#ordem{
    text-align: end;
    order: 1;
    width: auto;
    height: 20px;
    margin-bottom: 5px;
    padding-right: 5px;
}

#visualizarPokemon{
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 20px;
    border-radius: 10px;
    scrollbar-width: thin; /* para navegadores Firefox */
    scrollbar-color: transparent transparent; /* para navegadores Chrome, Safari, Edge */
}
#visualizarPokemon #ordem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    order: 1;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-right: 10px;
}

#visualizarPokemon #pokemon{
    order: 2;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 5px #565353);
}

#visualizarPokemon #nome{
    text-align: center;
    order: 3;
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

#visualizarPokemon #natureza{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 4;
    width: 100%;
}

#visualizarPokemon #natureza span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9em;
    width: 47%;
    border-radius: 10px;
    word-break: break-all;
   padding-bottom: 2%;
}

#visualizarPokemon #caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 5;
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#visualizarPokemon #caracteristicas #peso, #visualizarPokemon #caracteristicas #altura{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 0;
}

#visualizarPokemon #caracteristicas span{
    font-size: 0.8em;
    margin-top: 1px;
}

#visualizarPokemon #status{
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 6;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#visualizarPokemon #status .titulo{
    order: 1;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
}

#visualizarPokemon #status #container{
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#visualizarPokemon #status #container #nomeStatus{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
}

#visualizarPokemon #status #container #valorStatus{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hp,#ataque,#defesa,#velocidade,#exp{
    text-align: center;
    font-size: 0.7em;
    padding-left: 10px;
}

#visualizarPokemon #status #container #valorStatus .progress{
    background-color: #262626;
}

#visualizarPokemon #descricao{
    order: 7;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 1em;
}

#visualizarPokemon #descricao ul{
    list-style: none;
    padding-top: 20px;
}

#visualizarPokemon #descricao li{
    margin-bottom: 25px;
    font-size: 0.8em;
}

