@font-face {
    font-family: pokemon;
    src: url(../Font/Pokemon-Solid.woff);
}

body{
    background: #000000;
    background-attachment: fixed;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    color: #000;
}

::selection{
    background-color: #fff;
    color: #000;
}

::-webkit-scrollbar{
    width: 5px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: transparent; /* cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #000; /* Cor de fundo do thumb */
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;  
}

a:visited{
    color: #ffffff;
    text-decoration: none;  
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    color: #ffffff;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    background: transparent;
    outline: none;
    order: 2;
}

#logo img{
    height: 100%;
}

#hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    order: 1;
}

#hamburguer img{
    width: 70%;
}

#pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    order: 3;
}

#pesquisa img{
    width: 70%;
}

#inputPesquisa{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
    height: 50%;
    width: 30%;
    order: 2;
    opacity: 0;
    transition: opacity 1s ease;
}

#inputPesquisa input{
    height: 100%;
    width: 93%;
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
    order: 1;
    color: #fff;
}

#inputPesquisa input::placeholder{
    color: #fff;
}

#inputPesquisa button{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
    border: 0;
    background: transparent;
    outline: 0;
    order: 2;
    cursor: pointer;
}

#inputPesquisa button img{
    width: 100%;
}

#filtro{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 0;
    background: rgba(38, 38, 38, 0.8);
    width: 15vw;
    height: 100vh;
    padding: 10px 0;
    box-shadow: 5px 5px 5px #262626;
    opacity: 0;
    z-index: 3;
    overflow-y: scroll;
    transition: opacity 1s ease;
}

#filtro::-webkit-scrollbar-thumb{
    background-color: #fff; /* Cor de fundo do thumb */
}

#filtro button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-bottom: 5px;
}

#filtro button img{
    height: 100%;
}
#filtro div{
    font-weight: bold;
    font-size: 20px;
}

#filtro button.opcoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #fff;
}

#filtro button.opcoes:hover{
    background: #fff;
}

#filtro button.opcoes span{
    font-size: 20px;
    color: #fff;
}

#filtro button.opcoes:hover span{
    color: #000;
}

#filtro button.opcoes span.checkbox{
    height: 50%;
    width: 18px;
    border: 1px solid #000;
    background: #fff;
    margin-right: 10px;
    transition: background 0.5s ease;
}

main{
    width: 100vw;
    height: 80vh;
    background-color: transparent;
    color: #F5F5F5;
}

#nenhumPokemon{
    display: none;
    width: 100%;
    text-align: center;
}

#pokedex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 10px;
    scrollbar-width: thin; /* para navegadores Firefox */
    scrollbar-color: transparent transparent; /* para navegadores Chrome, Safari, Edge */
    overflow-y: scroll;
}

#pokedex::-webkit-scrollbar{
    width: px; /* largura da barra de rolagem */
}

#pokedex::-webkit-scrollbar-track{
    background-color: transparent; /* cor de fundo da barra de rolagem */
}

#pokedex::-webkit-scrollbar-thumb{
    background-color: transparent; /* Cor de fundo do thumb */
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32.5%;
    height: 32%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
}

.item:hover{
    scale: 105%;
}

.pictureBack{
    position: absolute;
    top: -11.5%;
    right: -11.5%;
    width: 60%;
    transform: rotate(-135deg);
    z-index: 1;
    opacity: 0.2;
}

.nomenclatura{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 2;
}

.nome{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 75%;
    height: 100%;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 75%;
    overflow: hidden;
}

.ordem{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: 0.8em;
    font-weight: bold;
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 85%;
    z-index: 2;
}

.picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    z-index: 2;
}

.picturePokemon{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    height: 100%;
    padding-top: 5px;
}

.elemento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    margin-bottom: 10%;
}

.elemento img{
    height: 100%;
}

.especificacao{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 75%;
}

.especificacao div{
    width: 100%;
}

.peso,.altura{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000;
}

.altura{
    border: 0;
}

.peso span,.altura span{
    font-weight: bold;
    font-size: 16px;
}

#visualizarPokemon{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 10px 0px 2px;
    border-radius: 5px;
    background: transparent;
    border: 0;
}

.contain{
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    overflow: hidden;
    padding: 0;
    padding-bottom: 7px;
    z-index: 2;
}

#visualizarPokemon .nomenclatura{
    height: 20%;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;;
    z-index: 2;
}

#visualizarPokemon .picture{
    width: 100%;
    height: 80%;
}

#visualizarPokemon .pictureBack{
    width: 45%;
}

#visualizarPokemon .nome,#visualizarPokemon .ordem{
    font-size: 1em;
    z-index: 2;
}

#sobre{
    width: 100%;
    height: 60%;
    background-color: #Fff;
}

.nav-tabs{
    display: flex;
    justify-content: center;
    height: 15%;
    border-color: #000;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 0;
    padding: 0px;
}

.nav-item{
    width: 24%;
}

.nav-tabs .nav-link{
    color: #747272;
    font-size: 0.8em;
}

.nav-tabs .nav-link:hover{
    border-color: #000;
    background: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #000;
    background: #fff;
    border-bottom: 0;
    border-color: #000;
}

#myTabContent{
    height: 85%;
    padding: 10px;
    overflow-y: scroll;
}

#descricao{
    width: 100%;
    height: 100%;
}

.contain-sobre{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contain-sobre div:not(#valorHP,#valorAtaque,#valorDefesa,#valorEspAtaque,
#valorEspDefesa,#valorVelocidade,#valorTotal){
    display: flex;
    border-bottom: 1px solid #000;
}

.contain-sobre span{
    font-size: 0.6em;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 35%;
    font-size: 1em;
    font-weight: 600;
    color: #747272;
    text-transform: uppercase;
}

.titulo i{
    margin-right: 5px;
}

#descricao span:not(.titulo){
    width: 65%;
}

#status{
    width: 100%;
    height: 100%;
}

#status .titulo{
    width: 25%;
}

#status span:not(.titulo){
    display: flex;
    width: 75%;
}

#valorHP,#valorAtaque,#valorDefesa,#valorEspAtaque,#valorEspDefesa,
#valorVelocidade,#valorTotal{
    width: 10%;
}

#valorHP span,#valorAtaque span,#valorDefesa span,#valorEspAtaque span,
#valorEspAtaque span,#valorEspDefesa span,#valorVelocidade span,#valorTotal span{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#hp,#ataque,#defesa,#espAtaque,#espDefesa,#velocidade,#total{
    height: 5px;
}

.progress{
    position: relative;
    top: 50%;
    left: 0;
    width: 90%;
    transform: translateY(-50%);
    background: #bdbbbb;
    height: 5px;
}

#acordeao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card{
    background: transparent;
}

button.card-header{
    font-size: 0.8em;
    font-weight: 500;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

button.card-header.collapsed {
    font-weight: 500;
    color: #747272;
}

.card-body{
    border: 1px solid #000;
    border-top: 0;
    padding: 10px;
    font-size: 0.6em;
}

#acordeao button{
    width: 100%;
    padding: 0;
    height: 35px;
    line-height: 0;
    background: transparent;
    border-radius: 0;
    outline: none;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    color: #808080;
    border: 1px solid red;
}